@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    background-color: black;
    color: white;
}

/*  рассылка  */

.subscribe{
    background-color: #00acee;
    padding: 20px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    color: white;
    font-size: 28px;
    font-weight: 600;
}

input{
    font-family: 'Comfortaa', cursive;
    color: #00acee;
    font-weight: 600;
}

.subscribeP{
    color: #e3f1fc;
}

/*  шапка  */

header{
    display: flex;
    padding: 20px;
    background-color: white;
}

.logo{
    max-width: 300px;
    max-height: 62px;
    transition: transform 1s; 
}

nav{
    margin-right: 10%;
    font-size: 24px;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-right: 20px;
}

.menu{
    text-decoration: none;
    background-color: black;
   margin: 5cm;
}

.menu:visited{
    color:#777777;
}

/*  main  */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.line{
    width: 55%;
    height: 2px;
    background-color: #00acee ;
}

article{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.card{
    width:20%;
}

.img{
    width: 100%;
    transition: transform 2s;
}

.text{
    background-color:#00acee ;
    color:white;
    max-width: 100%;
    padding: 15px;
}

/*  footer  */

footer{
    background-color: rgb(233, 233, 233);
    color:#777777;
    padding-top: 50px;
    padding-bottom: 20px;
}

.group{
    display: flex;
    justify-content: space-evenly;
}

.footerA1{
    color: #ff5311;
    text-decoration: none;
    font-weight: 900;
}

.footerA{
    color:#00acee ;
    text-decoration: none;
    font-weight: 900;
}

.footerP{
    margin-left: 30px;
}
.movie{
    width: 300px;
}
.poster{
    width: 300px;
    transition: transform 3s;    
}
img {
    margin-left: 0;
    transition: margin-left 2s;
}
.postersInner{
    display: flex;
    justify-content: space-evenly;
}
.movie{
    width: 300px;
}
.poster{
    width: 300px;
    transition: transform 3s;    
} 
body{
    margin: 0;
    font-family: Open Sans;
    color:white;
    background-color: black;
}

h1, p{
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 60px;
    font-size: 18px;
}

h1{
    font-size: 48px;
    margin-bottom: 60px;
}

/* header */

header{
    padding-left: 70px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.header-inner{
    display: flex;
}

.logoImg{
    width: 180px;
    height: 122px;
    margin-right: 20px;
}

nav{
    height: 122px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    justify-content: right;
    list-style: none; /*убираем маркеры списка*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
/* posters */

.posters{
    background-color: black;
    padding-top: 90px;
}

h2{
    font-size: 48px;
    margin-left: 270px;
    margin-bottom: 60px;
}

.postersInner{
    display: flex;
    justify-content: space-evenly;
}

.movie{
    width: 300px;
}

.poster{
    width: 500px;
    transition: transform 3s;    
} 
.poster:hover{
    transform: scale(2);
}
.border{
border: 1px solid red;
}